@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");

.container_css {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.home__hero {
  width: 100%;
  padding-bottom: 80px;
}

.home__featured {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1140px;
  gap: 25px;
  padding-bottom: 50px;
}

.home__featured__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.home__featured__card1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  gap: 10px;
}
.home__featured__card2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  gap: 10px;
}
.home__featured__card3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  gap: 10px;
}
.home__featured__card4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  gap: 10px;
}

.home__quote {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 1140px;
  background-color: #efefef;
}

.home__offer {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1140px;
  gap: 20px;
  align-items: center;
  padding-bottom: 70px;
}

.home__offer__up {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 30px;
  padding-bottom: 10px;
}
.home__offer__up1 {
  background-color: #efefef;
}
.home__offer__up2 {
  background-color: #efefef;
}
.home__offer__up3 {
  background-color: #efefef;
}
.home__offer__down {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 30px;
}
.home__offer__down1 {
  background-color: #efefef;
}
.home__offer__down2 {
  background-color: #efefef;
}
.home__offer__down3 {
  background-color: #efefef;
}
.footer {
  background-color: #037de8;
}

.footer__up {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 1140px;
  padding-bottom: 100px;
  padding-top: 50px;
}
.footer__down {
  display: flex;
  width: 1140px;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__title {
  background-color: #037de8;
  width: 1140px;
  height: 110px;

  display: flex;
  align-items: center;
}
.about-us__awesome__up {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 1140px;
  text-align: left;
}
.about-us__awesome__down {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  width: 1140px;
  gap: 20px;
}

.about-us__middle {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.about-us__middle1 {
  width: 350px;
  text-align: left;
}
.about-us__middle2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.about-us__middle2__1 {
  background-color: #b9b9b9;
  width: 350px;
  height: 50px;
  display: flex;
  padding-top: 12px;
  padding-left: 40px;
}
.about-us__middle2__2 {
  background-color: #b9b9b9;
  width: 350px;
  height: 50px;
  padding-top: 12px;
  padding-left: 40px;
}
.about-us__middle2__3 {
  background-color: #b9b9b9;
  width: 350px;
  height: 50px;
  padding-top: 12px;
  padding-left: 40px;
}
.about-us__middle2__4 {
  background-color: #b9b9b9;
  width: 350px;
  height: 50px;
  padding-top: 12px;
  padding-left: 40px;
}
.about-us__middle3 {
  width: 350px;
  height: 50px;
}

.about-us__team {
  padding-top: 70px;
  width: 1140px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.about-us__team__down {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-us__team__down__card1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-us__team__down__card2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-us__team__down__card3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-us__team__down__card4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact__bottom {
  display: flex;
  flex-direction: row;
  width: 1140px;
  justify-content: center;
}
